<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projekt</title>
</head>
<body>
    <section>
        <h1>Dodaj projekt</h1>
    </section>
    <section>
        <form th:action="@{project/edit}" method="post" th:object="${createProjectCommand}">
            <label>Nazwa:
                <input type="text" th:field="*{name}" name="name"/>
            </label>
            <div th:if="${#fields.hasErrors('name')}">
                <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
            </div>
            <label>URL:
                <input type="text" th:field="*{url}" name="url"/>
            </label>
            <div th:if="${#fields.hasErrors('url')}">
                <span th:each="err : ${#fields.errors('url')}" th:text="${err}"></span>
            </div>
            <label>Description:
                <textarea type="text" th:field="*{description}" name="description"/>
            </label>
            <div th:if="${#fields.hasErrors('description')}">
                <span th:each="err : ${#fields.errors('description')}" th:text="${err}"></span>
            </div>
            <div>
                <button type="submit">Zapisz</button>
            </div>
        </form>
    </section>

</body>
</html>